* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: DejaVu Sans Mono, monospace;
  background-image: url("../images/stars.jpg");}

/*Navbar style*/
.nav-ufo {
  position: absolute;
  bottom: 5px;
  left: 150px;
  width: 35px;
  color: white;}

.navbar {
  padding: 5px;
  margin: 0;}

.navbar {
  background-color: rgb(0, 0, 40, 0.8) !important; 
  border-bottom-style: groove; 
  border-bottom-color: rgb(0, 8, 90);}

.navbar-brand {
  font-size: 17px;}
  

/*Parallax style*/
.hero {
  position: relative;
  height: 500px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/nasa.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  border-bottom-style: groove; 
  border-bottom-color: rgb(0, 8, 90, 0.7);}

.hero h1 {
  margin-top: 150px;
  font-size: 53px;
  animation: title 1.5s forwards linear;
  font-family: Space;
  text-shadow: 2px 2px 5px rgb(0, 0, 34);}

.hero p {
  font-size: 2.3rem;
  opacity: 0;
  font-family: Space;
  text-shadow: 2px 2px 4px rgb(0, 0, 34);
  animation: subtitle 1.2s forwards linear;
  animation-delay: 0.8s;}

.container {
  background-color: rgb(0, 0, 40);
  background-image: url("../images/stars.jpg");}

.loader {
  margin-top: 50px;}

.margin-top-50 {
  margin-top: 50px;}
   
/*Table style*/
table {
  border-style: groove;
  border-color: rgb(0, 8, 90);
  background-color: rgb(0, 0, 60, 0.5);
  background-image: url("../images/stars.jpg");
  background-blend-mode: luminosity;
  overflow-y: scroll;
  height: 550px;
  display: block;
  font-weight: 5px;}

#table-area th {
  text-align: center;
  font-size: 16px;
  font-weight: 4px;
  background-color: rgb(0, 0, 35);}

#table-area tr {
  text-align: center;
  background-color: rgb(0, 0, 43, 0.7);
  font-size: 13px;
  font-weight: 4px;}

tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
  background-color: rgb(0, 0, 27); }

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;}
  

/*Filter box style*/
#box-filter {
  border-style: groove;
  border-color: rgb(0, 8, 90);}

.btn {
  background-color: rgb(0, 0, 35);}

.filters .panel-body {
  padding: 0;}

#filter-btn {
  font-size: 16px;
  font-weight: 10px;}

#filter-btn:hover {
  background-color: rgb(0, 0, 90, 0.8) !important;}

#reset-btn {
  font-size: 16px;
  font-weight: 10px;}

#reset-btn:hover {
  background-color: rgb(0, 0, 90, 0.8) !important;}

.btn-default {
  background-color: rgb(0, 0, 40) !important;}
  
label {
  text-align: center;
  font-size: 13px;
  font-weight: 5px;}

.panel-heading {
  font-family: DejaVu Sans Mono, monospace;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  background-color: rgb(0, 0, 43, 0.6) !important;
  border-color: rgb(0, 8, 90);
  background-image: url("../images/stars.jpg");
  background-blend-mode: luminosity;}

.panel-body{
  background-color: rgb(0, 0, 27) !important;}

#filters{
  background-color: rgb(0, 0, 27, 0.8) !important;
  height: 200px;}

.list-group-item {
  background-color: rgb(0, 0, 27, 0.8) !important;}

/* Wrapper*/
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
  overflow: auto;}

/* The footer style */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 20px;}

/* Footer text style */
.footer > .bottom {
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px;
  border-style: groove; 
  border-color: rgb(0, 8, 90);
  background-color: rgb(0, 5, 20, 0.9);
}

